@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Neucha&family=VT323&display=swap');

.font-vt {
    font-family: 'VT323', monospace;
    font-size: 30px;
}
.font-caveat {
    font-size: 50px;
    font-family: 'Caveat', cursive;
}
.font-neucha {
    font-family: 'Neucha', cursive;
}



::selection {
    color: black;
    background-color: deeppink;
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0,1);
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

.body{
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    cursor: -webkit-image-set(url(https://cdn.custom-cursor.com/db/4828/arrow2747.png) 3x) , default;
}

a{
    cursor: -webkit-image-set(url(https://cdn.custom-cursor.com/db/4827/arrow2747.png) 3x) , pointer !important;
}

main{
    flex: 1 0 auto;
}

.jumbo{
    background-image: linear-gradient(315deg, #0343a5 30%, #d43f8d 80%);
    border-radius: 25px;
}

.jumbo2{
    background-image: linear-gradient(150deg, #33d5d6 0%, #330867 90%);
    border-radius: 25px;
}

.black-border{
    border-color:black;
}


.pinkgrad {
    background-image: linear-gradient(to bottom, #0250c5 0%, #d43f8d 100%);
}

.gradhot {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    border-radius: 20px;
}

.bluegrad{
    background-image: linear-gradient(50deg, #30cfd0 0%, #330867 75%);
}

.text-grad {
    background: -webkit-linear-gradient(#d9afd9 0%, #97d9e1 100%);
    background: -webkit-linear-gradient(#192cf2 0%, #2575fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-grad-about{
    background-image: linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error-text-grad {
    background-image: linear-gradient(to left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    /*background: -webkit-linear-gradient(#192cf2 0%, #2575fc 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#particles{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 999;
}



.myfooter {
    background-color: rgba(255,255,255,1);
    color:white;
    width:100%;
    z-index: 1000;
}